        <!--Imagenes Categorias-->
        <section>
            <div class="container mt-2">
                <div class="row row-cols-2 row-cols-md-5">
                    <div class="col p-4 p-md-0 px-md-2">
                        <img src="assets/img/anime-mobile.png" class="img-fluid d-block d-md-none rounded shadow" alt="...">
                        <img src="assets/img/anime-desktop.png" class="img-fluid d-none d-md-block rounded shadow" alt="...">
                    </div>
                    <div class="col p-4 p-md-0 px-md-2">
                        <img src="assets/img/manga-mobile.png" class="img-fluid d-block d-md-none rounded shadow" alt="...">
                        <img src="assets/img/manga-desktop.png" class="img-fluid d-none d-md-block rounded shadow" alt="...">
                    </div>
                    <div class="col p-4 p-md-0 px-md-2">
                        <img src="assets/img/ropa-mobile.png" class="img-fluid d-block d-md-none rounded shadow" alt="...">
                        <img src="assets/img/ropa-desktop.png" class="img-fluid d-none d-md-block rounded shadow" alt="...">
                    </div>
                    <div class="col p-4 p-md-0 px-md-2">
                        <img src="assets/img/bling-mobile.png" class="img-fluid d-block d-md-none rounded shadow" alt="...">
                        <img src="assets/img/bling-desktop.png" class="img-fluid d-none d-md-block rounded shadow" alt="...">
                    </div>
                    <div class="col-12 col-md p-4 p-md-0 px-md-2">
                        <img src="assets/img/musica-mobile.png" class="img-fluid d-block d-md-none rounded shadow" alt="...">
                        <img src="assets/img/musica-desktop.png" class="img-fluid d-none d-md-block rounded shadow" alt="...">
                    </div>
                </div>
            </div>
        </section>
        <!--Imagenes Categorias-->
