<app-header></app-header>


<!--

 <div class="py-5 seccion-01">

<app-carousel></app-carousel>
<app-categorias></app-categorias>

</div>

<div class="seccion-02">
    <section class="py-5 text-white">
        <div class="container pt-5">
            <div class="row my-5">
                <div class="col-12 col-md-5 mx-auto mb-3 text-center">
                    <h1 class="mb-4">¡Bienvenida a Neko No Kokoro!</h1>
                    <p>"Aquellos que rompen las reglas son escoria pero aquellos que no compran en Neko No Kokoro son peor que escoria"
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
-->

<router-outlet></router-outlet>

<!--
<app-recomendados></app-recomendados>
-->

<app-footer></app-footer>

   <!-- Modal Carrito-->
    <div class="modal fade" id="carrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Carrito</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-anime text-white">Procesar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Carrito-->

    <!-- Modal Login-->
    <div class="modal fade" id="usuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Acceder</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-anime text-white">Ingresar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Login-->






